@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.warehouse-details {
  border-radius: 0.1875rem;

  &__top-container {
    display: flex;
    padding: 2rem 1.5rem 1.5rem;
    border-bottom: 0.0625rem solid $secondary-accent-colour;
    gap: 0.375rem;

    @include desktop {
      padding: 2rem 2.5rem 1.5rem;
      gap: 0.625rem;
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    background-color: $primary-accent-colour;
    cursor: pointer;

    @include tablet {
      padding: 1.25rem 2.75rem;
      gap: 0.375rem;
    }
  }

  &__edit-text {
    display: none;
    color: $primary-background-colour;

    @include tablet {
      @include text-style(0.875rem, 1.375rem, $font-weight-regular);
      display: flex;
    }
  }

  &__contact {
    @include text-style(0.8125rem, 1.25rem, $font-weight-regular);

    @include tablet {
      display: flex;
      padding: 1.5rem 2rem;
    }

    @include desktop {
      padding: 1.5rem 3rem;
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
  }

  &__address-info,
  &__person-info,
  &__contact-info {
    @include text-style(0.875rem, 1.375rem, $font-weight-regular);
    padding: 1rem 1.125rem;
  }

  &__address-info {
    flex-grow: 1;

    @include tablet {
      border-right: 0.0625rem solid $secondary-accent-colour;
      padding: 0;
    }

    @include desktop {
      flex-grow: 0.75;
    }
  }

  &__person-info,
  &__contact-info {
    @include tablet {
      padding: 0 2rem;
    }

    @include desktop {
      padding: 0 4rem 0 2.5rem;
    }
  }

  &__address-title,
  &__person-title,
  &__contact-title {
    color: $secondary-text-colour;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    padding-bottom: 0.25rem;
  }

  &__address,
  &__person-name,
  &__person-position,
  &__contact-phone &__contact-email {
    @include tablet {
      @include text-style(0.875rem, 1.375rem, $font-weight-regular);
    }
  }

  &__item {
    border-top: 0.0625rem solid $secondary-accent-colour;
    padding: 0.625rem 1.5rem 1.5rem;

    &:hover {
      background-color: rgba($primary-accent-colour, 0.07);
    }

    @include tablet {
      display: flex;
      border: none;
      border-bottom: 0.0625rem solid $secondary-accent-colour;
      padding: 1.125rem 2rem;
    }

    @include desktop {
      padding: 1.125rem 3rem;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      align-items: center;
    }
  }

  &__section {
    @include text-style(0.8125rem, 1.25rem, $font-weight-regular);
    margin-bottom: 1rem;
    width: 47%;

    &-title {
      color: $secondary-text-colour;
      text-transform: uppercase;
      padding-bottom: 0.25rem;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      @include text-style(0.875rem, 1.375rem, $font-weight-regular);
      margin: 0;
      flex: 1;

      &:nth-child(1) {
        order: 0;
        flex-grow: 1.4;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 1;
      }

      &:nth-child(4) {
        order: 3;
        flex-grow: 1.5;
      }
    }

    @include desktop {
      &:nth-child(3) {
        flex-grow: 1.2;
      }
    }
  }

  &__inventory {
    &-container {
      display: flex;
      gap: 0.375rem;
    }

    &-name {
      color: $primary-accent-colour;
    }

    &-icon {
      width: 1.25rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include tablet {
      width: 10%;
    }

    @include desktop {
      width: 6%;
    }
  }
}
