@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.error {
	display: flex;
	color: $unavailable-label-colour;

	&__icon {
		width: 0.7rem;
	}
	&__msg {
		font-size: 0.55rem;
	}
}
