@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    $dark-background-colour 200px,
    $light-background-colour 200px
  );
  min-height: 100vh;

  @include tablet {
    background: linear-gradient(
      $dark-background-colour 500px,
      $light-background-colour 100px
    );
    min-height: 100vh;
  }
}
