@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin text-style($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin button-style($background-color) {
  font-family: "Titillium Web", monospace;
  color: $primary-background-colour;
  font-weight: $font-weight-regular;
  border-radius: 1.25rem;
  border: none;
  cursor: pointer;
  background-color: $background-color;

  &:hover {
    background-color: $dark-background-colour;
  }
}

@mixin button-hover {
  font-family: "Titillium Web", monospace;
  background-color: $primary-background-colour;
  color: $secondary-text-colour;
  border: 0.0625rem solid $secondary-accent-colour;
  border-radius: 1.25rem;
  cursor: pointer;

  &:hover {
    border-color: $primary-accent-colour;
    color: $primary-accent-colour;
  }
}
