$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$font-weight-regular: 400;
$font-weight-bold: 600;

$primary-text-colour: #13182c;
$primary-accent-colour: #2e66e5;
$primary-background-colour: #ffffff;

$secondary-text-colour: #5c667e;
$secondary-accent-colour: #bdc5d5;

$dark-background-colour: #232940;
$light-background-colour: #f7f8f9;

$available-label-colour: #158463;
$unavailable-label-colour: #c94515;
