@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.warehouse-modify-details {
  width: 100%;
  border-top: 0.09rem solid $secondary-accent-colour;
  padding: 1.5rem;
  @include tablet {
    padding: 0 2.5rem 0 2.5rem;
    border-top: none;
    border-right: 0.09rem solid $secondary-accent-colour;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1.2rem;
  }
}
