@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.itemdetails {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
    background-color: $primary-background-colour;
    border: 1px solid #13182C1A;
    border-radius: 4px;
    font-family: "Titillium Web";
  
    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $secondary-text-colour;
  
      &-back {
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-right: 1rem;
      }
  
      &-title {
        flex-grow: 1;
        font-size: 1.5rem;
        margin: 0;
        color: $primary-text-colour;
      }

      &-button{
        width: 36px;
        height: 36px;
        border-radius: 20px;
        background-color: $primary-accent-colour;
        border: 0;
      }
  
      &-edit {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  
    &__body {
        padding-top: 1rem;

      &-section {
        margin-bottom: 1rem;
      }
  
      &-section--status {
        display: flex;
      justify-content: space-between;
      gap: 1rem;
      

      & > div {
        flex: 1;
      }
      }
  
      &-section--warehouse {

      }
    }
  
    &__label {
      margin: 0 0 0.5rem;
      text-transform: uppercase;
      font-weight: bold;
      color: $secondary-text-colour;
    }
  
    &__text {
      margin: 0 0 1rem;
      color: $primary-text-colour;
      font-size: small;
    }
  }

  @include tablet {
    .itemdetails {

        &-button{
            padding: 8px 16px;
        }

      &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        &-left {
          width: 50%;
          padding-right: 2rem;
          margin-bottom: 0; 
          border-right: 1px solid $secondary-text-colour;
        }
        
        &-right {
          width: 50%;
          padding-left: 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
      }
    }
  }

@include desktop{
    .itemdetails{
        width: 80%;
    }
}