@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.table-header {
  display: none;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 2rem;
    background-color: $light-background-colour;

    &__item {
      flex-basis: 0.875rem;
      display: flex;
      gap: 0.375rem;

      &:nth-child(1) {
        flex-grow: 1.15;
      }

      &:nth-child(2) {
        flex-grow: 0.85;
      }

      &:nth-child(3) {
        flex-grow: 0.95;
      }

      &:nth-child(4) {
        flex-grow: 1.35;
      }
    }

    &__title {
      color: $secondary-text-colour;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    &__sort-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  @include desktop {
    padding: 0.625rem 2.5rem;

    &__item {
      flex-basis: 0.875rem;

      &:nth-child(1) {
        flex-grow: 0.9;
      }

      &:nth-child(2) {
        flex-grow: 1;
      }

      &:nth-child(3) {
        flex-grow: 0.7;
      }

      &:nth-child(4) {
        flex-grow: 0.85;
      }
    }
  }
}
