@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.warehouses-list {
  border-radius: 0.1875rem;

  &__top-container {
    @include tablet {
      display: flex;
    }
  }

  &__title {
    padding: 2rem 1.5rem 1.375rem;

    @include tablet {
      flex-grow: 3;
    }
  }

  &__search {
    position: relative;
    padding: 0 1.5rem;

    &-input {
      @include text-style(0.8125rem, 1.25rem, $font-weight-regular);
      font-family: "Titillium Web", monospace;
      width: 100%;
      padding: 0.5rem;
      padding-left: 1rem;
      border: 0.0625rem solid $secondary-accent-colour;
      border-radius: 1.25rem;

      &:focus {
        border-color: $primary-accent-colour;
        outline: none;
      }
    }

    &-icon {
      position: absolute;
      right: 2.5rem;
      top: 0.375rem;

      @include tablet {
        right: 1rem;
        top: 2.5rem;
      }
    }

    @include tablet {
      flex-grow: 1;
      padding: 2rem 0rem 1.375rem;
    }
  }

  &__button {
    font-family: "Titillium Web", monospace;
    width: 100%;
    background-color: $primary-accent-colour;
    color: $primary-background-colour;
    padding: 0.5rem 1.5rem;
    font-weight: $font-weight-regular;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;

    &-container {
      padding: 1rem 1.5rem 1.5rem;

      @include tablet {
        flex-grow: 1;
        padding: 2rem 1rem 1.375rem;
      }
    }

    &:hover {
      background-color: $dark-background-colour;
    }

    @include tablet {
      padding: 0.5rem 0;
    }
  }

  &__header {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 0.625rem 2rem;
      background-color: $light-background-colour;

      &-item {
        display: flex;
        gap: 0.375rem;
      }

      &-title {
        color: $secondary-text-colour;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
    }

    @include desktop {
      padding: 1rem 3rem;
    }
  }

  &__sort-icon {
    width: 1rem;
  }

  &__item {
    border-top: 0.0625rem solid $secondary-accent-colour;
    padding: 0.625rem 1.5rem 1.5rem;

    &:hover {
      background-color: rgba($primary-accent-colour, 0.07);
    }

    @include tablet {
      display: flex;
      border: none;
      border-bottom: 0.0625rem solid $secondary-accent-colour;
      padding: 1.125rem 2rem;
    }

    @include desktop {
      padding: 1.125rem 3rem;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      align-items: center;
    }
  }

  &__section {
    @include text-style(0.8125rem, 1.25rem, $font-weight-regular);
    margin-bottom: 1rem;
    width: 47%;

    &-title {
      color: $secondary-text-colour;
      text-transform: uppercase;
      padding-bottom: 0.25rem;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      margin: 0;
      flex: 1;

      &:nth-child(1) {
        order: 0;
        flex-grow: 1.4;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 1;
      }

      &:nth-child(4) {
        order: 3;
        flex-grow: 1.5;
      }
    }

    @include desktop {
      &:nth-child(3) {
        flex-grow: 1.2;
      }
    }
  }

  &__warehouse {
    &-container {
      display: flex;
      gap: 0.375rem;
    }

    &-name {
      color: $primary-accent-colour;
    }

    &-icon {
      width: 1.25rem;
    }
  }

  &__address,
  &__contact-name,
  &__contact-email,
  &__contact-phone {
    @include tablet {
      @include text-style(0.875rem, 1.375rem, $font-weight-regular);
    }
  }

  &__address {
    @include tablet {
      width: 76%;
    }

    @include desktop {
      width: 90%;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include tablet {
      width: 10%;
    }

    @include desktop {
      width: 6%;
    }
  }
}
