@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.warehouses-list {
  width: 90%;
  margin: 2rem auto;
  margin-top: 2.5rem;
  background-color: $primary-background-colour;
  box-shadow: 0 0.125rem 0.3125rem #13182c1a;
  border-radius: 0.1875rem;

  &__top-container {
    @include tablet {
      display: flex;
    }
  }

  &__title {
    padding: 2.5rem 2rem 1.125rem;

    @include tablet {
      padding: 2rem 2rem 1.125rem;
      flex-grow: 2;
    }

    @include desktop {
      padding: 2rem 2.5rem 1.25rem;
      flex-grow: 2.6;
    }
  }

  &__button {
    font-family: "Titillium Web", monospace;
    width: 100%;
    background-color: $primary-accent-colour;
    color: $primary-background-colour;
    padding: 0.625rem 1.5rem;
    font-weight: $font-weight-regular;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;

    &-container {
      padding: 1.125rem 1.5rem 1.625rem;

      @include tablet {
        flex-grow: 1;
        padding: 2rem 2rem 1.375rem 1rem;
      }

      @include desktop {
        width: 12%;
        padding-right: 2.5rem;
      }
    }

    &:hover {
      background-color: $dark-background-colour;
    }

    @include tablet {
      padding: 0.5rem 0;
    }
  }

  &__item {
    border-top: 0.0625rem solid $secondary-accent-colour;
    padding: 1.125rem 1.5rem 1.75rem;
    list-style-type: none;

    &:hover {
      background-color: rgba($primary-accent-colour, 0.07);
    }

    @include tablet {
      display: flex;
      border: none;
      border-bottom: 0.0625rem solid $secondary-accent-colour;
      padding: 1rem 2rem;
    }

    @include desktop {
      padding: 1rem 2.5rem;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @include tablet {
      align-items: center;
    }
  }

  &__section {
    @include text-style(0.8125rem, 1.25rem, $font-weight-regular);
    margin-bottom: 1.25rem;
    width: 47%;

    &-title {
      color: $secondary-text-colour;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding-bottom: 0.5rem;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      margin: 0;
      flex: 1;

      &:nth-child(1) {
        order: 0;
        flex-grow: 1.25;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 1;
      }

      &:nth-child(4) {
        order: 3;
        flex-grow: 1.5;
      }
    }

    @include desktop {
      &:nth-child(1) {
        flex-grow: 1.55;
      }

      &:nth-child(2) {
        flex-grow: 1.25;
      }

      &:nth-child(3) {
        flex-grow: 1.85;
      }

      &:nth-child(4) {
        flex-grow: 1.5;
      }
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: $primary-accent-colour;
      text-decoration: underline;
    }
  }

  &__warehouse {
    &-container {
      display: flex;
      gap: 0.375rem;
    }

    &-name {
      color: $primary-accent-colour;
    }

    &-icon {
      width: 1.25rem;
    }
  }

  &__address,
  &__contact-name,
  &__contact-email,
  &__contact-phone {
    @include tablet {
      @include text-style(0.875rem, 1.375rem, $font-weight-regular);
    }
  }

  &__address {
    width: 74%;

    @include tablet {
      width: 90%;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include tablet {
      width: 11%;
    }

    @include desktop {
      width: 8%;
    }
  }

  @include tablet {
    width: 92%;
  }

  @include desktop {
    width: 80%;
  }
}
