@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header {
  @include text-style(0.8125rem, 1.25rem, $font-weight-bold);
  display: flex;
  row-gap: 0.125rem;
  flex-direction: column;
  padding-top: 1.5rem;

  &__logo-link {
    margin: 0 auto 1rem;
  }

  &__nav-list {
    display: flex;
    padding: 0 0.5rem;
  }

  &__logo-link,
  &__nav-list {
    @include tablet {
      margin: 0;
      padding: 0;
      gap: 0.625rem;
    }
  }

  &__nav-item {
    width: 100%;
    text-align: center;
    list-style-type: none;
  }

  &__nav-link {
    width: 90%;
    padding: 0.5rem;
    display: inline-block;
    color: $secondary-accent-colour;
    text-decoration: none;

    &:hover {
      color: $primary-background-colour;
      text-decoration: underline;
    }

    &--warehouses {
      &.active {
        background-color: $primary-text-colour;
        border-radius: 1.25rem;
        color: $primary-background-colour;
      }

      &:hover {
        color: $primary-background-colour;
        text-decoration: underline;
      }
    }

    &--inventory {
      &.active {
        background-color: $primary-text-colour;
        border-radius: 1.25rem;
        color: $primary-background-colour;
      }

      &:hover {
        color: $primary-background-colour;
        text-decoration: underline;
      }
    }

    @include tablet {
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }

  @include tablet {
    @include text-style(0.875rem, 1.375rem, $font-weight-bold);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 0 2rem;
  }

  @include desktop {
    margin: 0 auto;
    width: 85%;
  }
}
