@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header {

    padding: 0rem 1rem;

    @include tablet {
        padding: 1rem 1.5rem;
    }

    @include desktop {
        padding: 1.25rem 4.5rem;
    }

  &__content {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;

    @include tablet {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
  }

  &__nav-link {
    text-decoration: none;
    color: $primary-background-colour;
    font-size: .75rem;

    @include tablet {
        font-size: .875rem;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      padding: .3125rem 3.125rem;
      border-radius: 1.25rem;
      text-decoration: none;
      background-color: $primary-text-colour;

      @include tablet {
        padding: .3125rem .9375rem;
      }
    }
  }
}
