@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.footer {
  @include text-style(0.6875rem, 1rem, $font-weight-regular);
  color: $secondary-text-colour;
  background-color: $light-background-colour;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0 1.5rem;
  width: 100%;

  @include tablet {
    @include text-style(0.75rem, 1.125rem, $font-weight-regular);
    padding: 2.375rem 0 2.5rem;
  }

  @include desktop {
    padding: 4.25rem 0 3rem;
  }
}
