@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.footer {
  font-family: "Titillium Web";
  font-weight: $font-weight-regular;
  color: $secondary-text-colour;
  background-color: $light-background-colour;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  font-size: smaller;
}

@include tablet{
    .footer{
        padding-top: 3.5rem;
    }
}

@include desktop{
    .footer{
        padding-top: 4.5rem;
    }
}